<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <style>
        input {
            color: red;
        }
    </style>
</head>
<body>
    <div id="app">
        {{ message }}
        <input v-model="message"/>
        <div v-if="message == 'Brian'">
            You can see me now!
        </div>
    </div>
</body>
<script>

  const { createApp } = Vue

  createApp({
    data() {
      return {
        message: 'Hello Vue!',
        message2: "Hello 2"
      }
    },
    methods: {
        helloWorld() {
            this.message = "Hello world!"
        }
    }
  }).mount('#app'); 
</script>
</html>